// 650px, 850px, 1400px
$breakpoints-up: (
  "small": "40.625em",
  "medium": "53.125em",
  "x-medium": "57em",
  "large": "87.5em",
);

// 649px, 849px, 1399px
$breakpoints-down: (
  "small": "40.5625em",
  "medium": "53.0625em",
  "x-medium": "54em",
  "large": "87.4375em",
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
