// CSS Vars
:root {
  // Globals
  --white: #fff;
  --scroll-button: #0a3a52;

  // Header
  --header-blue-1: #226dcf;
  --header-blue-2: #198fdf;
  --header-text: #ffffff;

  // Sections
  --section-light-green: #023047;
  --section-light-grey: rgb(173, 173, 173);

  // Footer
  --footer-background: #023047;
  --footer-small-text: #c8c8cb;
}
