// CSS Vars
:root {
  --green: green;
  // header
  --header-blue-1: #226dcf;
  --header-blue-2: #198fdf;
  --header-text: #ffffff;
  // section
  --section-button: #023047;
  // footer
  --footer-background: #023047;
  --footer-small-text: #c8c8cb;
}
