@use "../util/" as *;
@use "../globals/" as *;

.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      padding: 0 5rem;
      font-size: rem(45);
      text-transform: uppercase;
      font-family: $font-fraunces;
      margin: rem(70) auto rem(10) auto;
      color: $section-light-green;
      text-align: center;
      width: 98%;

      @include breakpoint-down(medium) {
        font-size: rem(40);
        margin-bottom: rem(10);
      }

      @include breakpoint-down(small) {
        font-size: rem(35);
      }

      @include breakpoint-down(mobile) {
        font-size: rem(30);
      }

      @include breakpoint-down(s-mobile) {
        font-size: rem(27);
        margin-bottom: rem(6);
      }
    }

    p {
      font-size: 1.15rem;
      font-family: $font-nunito;
      color: $footer-small-text;
      text-align: center;
      max-width: 30em;
      margin-bottom: rem(40);

      @include breakpoint-down(medium) {
        font-size: 1.02rem;
      }

      @include breakpoint-down(small) {
        font-size: 0.95rem;
      }

      @include breakpoint-down(mobile) {
        font-size: 0.85rem;
        max-width: none;
        padding: 0 1.75rem;
        margin-bottom: rem(30);
      }
    }
  }

  &__content {
    display: inline-block;
    position: relative;
    width: 80%;
    margin: rem(10) 0 rem(50) 0;

    @include breakpoint-up(large) {
      padding: 1%;
      max-width: rem(1750);
      margin: 1rem auto 3rem auto;
    }

    @include breakpoint-down(large) {
      padding: 2%;
    }

    @include breakpoint-down(small) {
      padding: 3%;
    }

    @include breakpoint-down(mobile) {
      padding: 4%;
    }

    --border-size: 2px;

    .square {
      display: block;
      width: rem(25);
      height: rem(25);
      position: absolute;
      border-radius: 3px;
    }

    .border {
      background-color: $border-background;
      z-index: 1;
    }

    .mask {
      background-color: #fff;
      z-index: 2;
    }

    $border-size: 2px;

    .top_b {
      left: calc(-1 * $border-size);
      top: calc(-1 * $border-size);
    }

    .top_m {
      left: 0;
      top: 0;
    }

    .bottom_b {
      right: calc(-1 * $border-size);
      bottom: calc(-1 * $border-size);
    }

    .bottom_m {
      right: 0;
      bottom: 0;
    }

    p {
      font-family: $font-nunito;
      font-size: 1.2rem;
      position: relative;
      z-index: 3;
      margin-top: 0;
      margin-bottom: rem(30);
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    &__text {
      .imageCard {
        width: 100%;
        margin: 2rem 0;

        img {
          width: 100%;
          height: 100%;
        }
      }

      h2 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
      }

      h4 {
        font-family: $font-overpass;
        font-weight: 400;
        font-size: 1.45rem;
        margin-top: 2.5rem;

        @include breakpoint-down(small) {
          font-size: 1.25rem;
        }

        @include breakpoint-down(mobile) {
          font-size: 1.1rem;
        }
      }

      p {
        margin: 0;
        margin-top: 1.25rem;

        @include breakpoint-down(small) {
          font-size: 1.1rem;
        }

        @include breakpoint-down(mobile) {
          font-size: 1rem;
          max-width: none;
          padding-right: 1rem;
          margin-bottom: rem(10);
          //margin-top: 0.5rem;
        }
      }

      ul {
        @include breakpoint-down(small) {
          padding: 0;
          margin: 0;
          padding-left: 1.2rem;
        }

        li {
          margin-top: 0.75rem;

          @include breakpoint-down(small) {
            margin-top: 0.5rem;
          }

          a {
            font-size: 1.3rem;

            @include breakpoint-down(small) {
              font-size: 1.1rem;
            }
          }

          p {
            margin-top: 0.5rem;

            span {
              font-weight: bold;
              font-size: 1.15rem;

              @include breakpoint-down(small) {
                font-size: 1.08rem;
              }

              @include breakpoint-down(mobile) {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

// V1 - cu putin rosu la inceput
  // background: #F8F1FF;
  // background: #E9DCF9;
  // background: #9C6D82;
//pica

// V2 - cu alternanta inchisa
  // background: #643287;
  // background: #244156;
  // background: #9786E9;
//pica

// V3 - pale kaki la inceput + mov
  // background: #4F5D2F;
  // background: #7D7E75;
  // background: #BC96E6;
//pica

// V4 rozuri + alb
  // background: #832161;
  // background: #DA4167;
  // background: #F0EFF4;

// V5 purple
  // background: #330036;
  // background: #38182F;
  // background: #EEE1B3;
// pica

// V6 blue
  // background: #38AEFC;
  // background: #4E96C7;
  // background: #3AB5F2;

.frame1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
<<<<<<< HEAD
  background: #38aefc;
=======
  background: #38AEFC;
>>>>>>> 1634351089e4b4cec585d91ac8547f5c773bd830
  z-index: 999;
}

.frame2 {
  @extend .frame1;
<<<<<<< HEAD
  background: #4e96c7;
=======
  background: #4E96C7;
>>>>>>> 1634351089e4b4cec585d91ac8547f5c773bd830
}

.frame3 {
  @extend .frame1;
<<<<<<< HEAD
  background: #3ab5f2;
=======
  background: #3AB5F2;
>>>>>>> 1634351089e4b4cec585d91ac8547f5c773bd830
}
.frame4 {
  @extend .frame1;
  background: #034363;
}
.frame5 {
  @extend .frame1;
<<<<<<< HEAD
  background: #35a1e9;
=======
  background: #35A1E9;
>>>>>>> 1634351089e4b4cec585d91ac8547f5c773bd830
}

.sectiuneAnchor {
  font-size: 1.2rem;
}
