@use "../util/" as *;

.main {
  &__cuprins {
  }

  &__line {
  }

  &__sections {
    @include breakpoint-up(x-medium) {
      padding: 0rem 4rem;
    }

    &__section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: rem(125);

      @include breakpoint-up(large) {
        max-width: rem(1400);
        margin: rem(125) auto;
      }

      h1 {
        padding: 0 2rem;
        font-size: rem(45);
        text-transform: uppercase;
        font-family: var(--font-fraunces);
        margin-bottom: rem(20);
        color: var(--section-light-green);
        text-align: center;

        @include breakpoint-down(medium) {
          font-size: rem(35);
          margin-bottom: rem(16);
        }

        @include breakpoint-down(small) {
          font-size: rem(30);
          margin-bottom: rem(16);
        }
      }

      p {
        font-size: 1rem;
        font-family: var(--font-nunito);
        color: var(--footer-small-text);
        text-align: center;
        max-width: 30em;
        margin-bottom: rem(30);

        @include breakpoint-down(medium) {
          font-size: 0.9rem;
        }

        @include breakpoint-down(small) {
          font-size: 0.85rem;
        }
      }

      button {
        margin-bottom: rem(50);
        background-color: var(--section-light-green);
        color: var(--white);
        padding: 0.8rem 2rem;
        border-radius: rem(10);
        transition: all 0.6s ease-in-out;

        &:hover {
          opacity: 0.9;
        }

        @include breakpoint-down(small) {
          padding: 0.7rem 1.8rem;
        }
      }

      &__image {
        width: 100%;
        height: rem(460);

        @include breakpoint-down(medium) {
          height: rem(400);
          display: flex;
          justify-content: center;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
